version: "3.9"
services:
  postgres:
    container_name: postgres
    image: postgres:15
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "pgpass123"
      POSTGRES_DB: "notes"
    ports:
      - 5432:5432
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  frontend:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    ports:
      - "3000:3000"
